---
# Configuration for the outgoing proxy. That is, petitions that go from inside
# our LAN to the internet.
outgoing:
    enabled: yes
    port: 8080
    block:
        - xxx.com
        - asdf.com

# Configuration for the incoming proxy. That is, petitions that come from
# the internet to inside our LAN.
incoming:
   enabled: no
   port: 80
   map:
        portal1/: 200.180.105.3:80
        portal2/: 200.180.105.4:80
        portal3/subportal1/: 200.180.105.5:80
        portal3/subportal2/: 200.180.105.5:81
   default: 127.0.0.1:80




